$primary:rgb(218, 0, 109);
$primary-dark:rgb(52, 3, 27);
$primary_light:rgba(218, 0, 109, 0.05);
$primary_disabled:rgb(220, 215, 217);

$valid:rgba(2, 255, 2, 0.045);

$font-logo:"Montserrat Alternates", sans-serif;